<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&family=Noto+Sans+SC:wght@100;400&family=Oxygen:wght@300;400;700&family=Phudu:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap" rel="stylesheet">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <title>Contacts</title>
</head>
<body>
    <header>
        <div class="navcontainer">
             <div class="navleft">
                <span class="navlinks">RINGS</span>
                <span class="navlinks">BRACELETS</span>
                <span class="navlinks">EARINGS</span>
                <span class="navlinks">NECKLACES</span>
             </div>
             <div class="navcenter">
                <span class="logo">BLINGG</span>
             </div>
             <div class="navright">
                <span class="navlinks">HOME</span>
                <span class="navlinks">CONTACTS</span>
                <span class="navlinks">ABOUT</span>
                
             </div>
             <div class="navicons">
                <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                <span class="icon"><i class="fa-sharp fa-light fa-cart-shopping"></i></span>
             </div>
        </div>
    </header>
    <body>
        <div class="bannerbody">
            <h1 class="aboutword">CONTACT US</h1>
        </div>
        <div class="contactprofile">
            <div class="contactleft">
                <h2 class="contactmessage">MESSAGE US</h2>
                <p class="contactpara">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro distinctio eaque veritatis atque exercitationem ea?</p>

                <div class="contactsub">
                    <h4>123 Fifth Avenue, New York, NY 10160</h4>
                    <h4>contact@info.com</h4>
                    <h4>9-334-7565-9787</h4>
                </div>
               
            </div>
            <div class="contactright">
                
            </div>
        </div>
</body>
</html>