<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&family=Noto+Sans+SC:wght@100;400&family=Oxygen:wght@300;400;700&family=Phudu:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap" rel="stylesheet">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


</head>
<body>
    <header>
        <div class="navcontainer">
             <div class="navleft">
                <span class="navlinks">RINGS</span>
                <span class="navlinks">BRACELETS</span>
                <span class="navlinks">EARINGS</span>
                <span class="navlinks">NECKLACES</span>
             </div>
             <div class="navcenter">
                <span class="logo">BLINGG</span>
             </div>
             <div class="navright">
                <span class="navlinks">HOME</span>
                <span class="navlinks">CONTACTS</span>
                <span class="navlinks">ABOUT</span>
                <span class="navlinks"><i class="fa-solid fa-magnifying-glass"></i></span>
                <span class="navlinks"><i class="fa-sharp fa-light fa-cart-shopping"></i></span>
             </div>
             <div class="navicons">
                <span class="icon"></span>
                <span class="icon"></span>
             </div>
        </div>
    </header>
    <body>
        <div class="banner">
            <div class="bannerleft">
                <h5 class="bannerhead">NEW COLLECTION</h5>
                <h1 class="bannerhead2">THE NEW RING</h1>
                <h1 class="bannerhead2">SENSATION</h1>
                <p class="bannerpara">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, suscipit.</p>
                <button class="bannerbutton">SHOP NOW</button>
            </div>
            <div class="bannerright"></div>
            <!-- <img src="photo1.jpg" alt="" class="bannerimg"> -->
        </div>
    </body>
</body>
</html>